<phpunit
        bootstrap="vendor/autoload.php"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"

>
    <testsuites>
        <testsuite name="sypex-geo">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
